Options -Indexes

Order Deny,Allow
Deny from all

<FilesMatch "init\.css$|mobile\.css$|ip\.blacklist|MBilling-all\.css|.*\.svg|.*\.woff|.*\.woff2|.*\.png|.*\.jpeg|.*\.jpg|.*\.gif|.*\.ico">
    Order deny,allow
    Allow from all
</FilesMatch>
