/* Mask Loading App */

.grecaptcha-badge {
    top: 7px !important;
}
#loading-mask {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 20000;
}
.tooltipHelp {
    position: absolute;
}
.tooltipHelp:hover:after {
    background: #333;
    border-radius: 5px;
    top: 10px;
    color: #fff;
    content: attr(alt);
    left: 10px;
    padding: 5px 15px;
    position: fixed;
    z-index: 5;
    width: auto;
    height: auto;
    text-align: left;
}
.tooltipHelp:hover:before {
    border: solid;
    border-color: #333 transparent;
    border-left: 6px 6px 0 6px;
}
#loading {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    height: 90px;
    margin-left: -190px;
    margin-top: -45px;
    z-index: 20001;
}
#load {
    position: absolute;
    z-index: 1;
    border: 3px double #999;
    background: #f7f7f7;
    width: 430px;
    height: 100px;
    margin-top: -150px;
    margin-left: -150px;
    top: 50%;
    left: 50%;
    text-align: center;
    line-height: 100px;
    font-family: "Trebuchet MS", verdana, arial, tahoma;
    font-size: 12pt;
}
#loading .loading-indicator {
    color: #ccc;
    font: bold 13px tahoma, arial, helvetica;
    padding: 10px;
    margin: 0;
}
#loading-msg {
    font: normal 10px arial, tahoma, sans-serif;
    color: ccc;
}
#text-msg {
    font: italic 10px arial, tahoma, sans-serif;
}
/*
 * Desktop
 */

/* Logo */

#poweredby {
    position: absolute;
    bottom: 55px;
    right: 20px;
    z-index: 15000;
    height: 79px;
    width: 295px;
    background: url(images/logo.png) no-repeat;
    background-size: 200px 80px;
    /* IE 5-7 */
    filter: alpha(opacity=70);
    /* Netscape */
    -moz-opacity: 0.7;
    /* Safari 1.x */
    -khtml-opacity: 0.7;
    /* Good browsers */
    opacity: 0.7;
}
#link-credits {
    position: absolute;
    bottom: 40px;
    right: 20px;
    color: #FFF;
    font: 12px tahoma, arial, verdana, sans-serif;
    text-decoration: none;
}
/* The simple background image PNG does not work in IE6-8, but does in IE9 */

.x-ie6 #poweredby div, .x-ie7 #poweredby div, .x-ie8 #poweredby div {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/logo.png', sizingMethod='scale');
}
.callshoFree {
    height: 50px;
    background: -webkit-linear-gradient(#FEFEFE, #d0ded4);
}
.callshoBlock {
    height: 50px;
    background: -webkit-linear-gradient(#FEFEFE, #EC6462);
}
.callshoInUse {
    height: 50px;
    background: -webkit-linear-gradient(#FEFEFE, #73C6EF);
}
.callshoInCall {
    height: 50px;
    background: -webkit-linear-gradient(#F3F3CA, #B0CB1F);
}
/*
 * App
 */

#credits {
    color: $base-color - 60;
    text-decoration: none;
}
/*
 * Font Icons
 */

@font-face {
    font-family: 'icons';
    src: url('fonts/icons/icons.eot');
    src: url('fonts/icons/icons.eot?#iefix') format('embedded-opentype'), url('fonts/icons/icons.woff') format('woff'), url('fonts/icons/icons.ttf') format('truetype'), url('fonts/icons/icons.svg#icons') format('svg');
    font-weight: normal;
    font-style: normal;
}
/* Icons */

.icon-play {
    background-image: url(images/icons/play.png) !important;
    background-repeat: no-repeat;
}
.icon-stop {
    background-image: url(images/icons/stop.png) !important;
}
.cog {
    background-image: url(images/icons/config.png) !important;
}
.icon-item-help {
    background-image: url(images/icons/item-help.png)!important;
}
.icon-delete {
    background-image: url(images/icons/delete.png) !important;
}
.icon-clean-filter {
    background-image: url(images/icons/clean-filter.png) !important;
}
.icon-theme {
    background-image: url(images/icons/theme.png) !important;
}
.icon-start-button {
    background-image: url(images/icons/icon.png) !important;
}
.icon-wallpaper {
    background-image: url(images/icons/wallpaper.png) !important;
}
.icon-none {
    background-image: url(images/icons/none.png) !important;
}
.icon-mountain {
    background-image: url(images/icons/mountain.png) !important;
}
.icon-night {
    background-image: url(images/icons/night.png) !important;
}
/* Icons Themes*/

.icon-yellow {
    background-image: url(images/themes/yellow.png) !important;
}
.icon-gray {
    background-image: url(images/themes/gray.png) !important;
}
.icon-orange {
    background-image: url(images/themes/orange.png) !important;
}
.icon-blue {
    background-image: url(images/themes/blue.png) !important;
}
.icon-purple {
    background-image: url(images/themes/purple.png) !important;
}
.icon-green {
    background-image: url(images/themes/green.png) !important;
}
.icon-red {
    background-image: url(images/themes/red.png) !important;
}
/* Icons Flags */

.flag-de {
    background-image: url(images/flags/de.png) !important;
    background-repeat: no-repeat;
    background-position: center;
}
.flag-pt_BR {
    background-image: url(images/flags/br.png) !important;
    background-repeat: no-repeat;
    background-position: center;
}
.flag-ru {
    background-image: url(images/flags/ru.png) !important;
    background-repeat: no-repeat;
    background-position: center;
}
.flag-it {
    background-image: url(images/flags/it.png) !important;
    background-repeat: no-repeat;
    background-position: center;
}
.flag-en {
    background-image: url(images/flags/us.png) !important;
    background-repeat: no-repeat;
    background-position: center;
}
.flag-es {
    background-image: url(images/flags/es.png) !important;
    background-repeat: no-repeat;
    background-position: center;
}
.flag-fr {
    background-image: url(images/flags/fr.png) !important;
    background-repeat: no-repeat;
    background-position: center;
}
/* Ux Alert */

.alert-box {
    left: 32%;
    position: absolute;
    top: 2px;
    z-index: 20000;
}
.alert-box table {
    margin-top: 1px;
    padding: 2px 3px;
    border-radius: 4px;
    width: 500px;
    -moz-border-radius: 4px;
}
.alert-box h3 {
    font-size: 14px;
    font-weight: bold;
    margin: 0px;
    width: 450px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}
.alert-box p {
    font-size: 13px;
    margin: 0;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}
.alert-box .close {
    background-image: url(images/tab/tab-default-close.gif);
    width: 11px;
    height: 11px;
    cursor: pointer;
    background-repeat: no-repeat;
    opacity: 0.5;
}
.alert-box .icon {
    width: 16px;
    height: 16px;
    background-repeat: no-repeat;
}
.alert-box .alert-success h3, .alert-box .alert-success p {
    color: #59B53A;
}
.alert-box .alert-success {
    background: none repeat scroll 0 0 #CDEAC8;
    border: 1px solid #59B53A;
}
.alert-box .alert-warning h3, .alert-box .alert-warning p {
    color: #C4B700;
}
.alert-box .alert-warning {
    background: none repeat scroll 0 0 #FBFFAC;
    border: 1px solid #C4B700;
}
.alert-box .alert-error h3, .alert-box .alert-error p {
    color: #DC4E3D;
}
.alert-box .alert-error {
    background: none repeat scroll 0 0 #FBB198;
    border: 1px solid #DC4E3D;
}
.alert-box .alert-information h3, .alert-box .alert-information p {
    color: #8AAFC5;
}
.alert-box .alert-information {
    background: none repeat scroll 0 0 #DDEEFA;
    border: 1px solid #8AAFC5;
}
.alert-box .alert-notification h3, .alert-box .alert-notification p {
    color: rgb(163, 160, 160);
    text-shadow: 0 1px 0 #fff;
}
.alert-box .alert-notification {
    background: none repeat scroll 0 0 #F6F7FA;
    border: 1px solid rgb(163, 160, 160);
}
/* Grid */

.grid-empty {
    padding: 10px;
    color: gray;
    font: 11px tahoma, arial, helvetica, sans-serif;
}
/* Start Button */

.ux-start-button-icon {
    background-image: url(images/icon.png) !important;
    background-color: transparent;
}
.ux-start-button .x-btn-arrow {
    background-image: none;
}
.ux-taskbar {
    padding-left: 4px !important;
}
/* Start Menu */

.ux-start-menu-toolbar .x-btn-inner {
    text-align: left;
}
.ux-start-menu-toolbar {
    padding: 4px !important;
}
/* TaskBar */

/* Use high specificity selector to override default styling*/

div.ux-taskbar div.x-toolbar {
    background: transparent none;
    border: 0 none;
    padding: 0;
}
.ux-desktop-windowbar .x-btn-inner, .x-nbr .ux-desktop-windowbar .x-btn-icon-text-left button {
    text-align: left !important;
}
/* Tray Clock */

.ux-desktop-trayclock {
    text-align: center;
    vertical-align: middle;
    padding-top: 0;
    padding-bottom: 0;
}
/* Desktop DataView */

.ux-wallpaper {
    background-color: #3d71b8;
}
.ux-wallpaper-tiled {
    background-repeat: repeat;
}
.ux-desktop-shortcut {
    cursor: pointer;
    text-align: center;
    padding: 8px;
    margin: 8px;
    width: 64px;
    position: absolute;
}
.ux-desktop-shortcut-icon {
    width: 48px;
    height: 48px;
    background-color: transparent;
    background-repeat: no-repeat;
}
.ux-desktop-shortcut-text {
    font: normal 10px tahoma, arial, verdana, sans-serif;
    text-decoration: none;
    padding-top: 5px;
    color: white;
}
.x-view-over .ux-desktop-shortcut-text {
    text-decoration: underline;
}
/* Portal */

.x-panel-ghost {
    z-index: 1;
}
.x-border-layout-ct {
    background: #DFE8F6;
}
.x-portal-body {
    padding: 0 0 0 8px;
}
.x-portal .x-panel-dd-spacer {
    border: 2px dashed #99bbe8;
    background: #f6f6f6;
    border-radius: 4px;
    -moz-border-radius: 4px;
    margin-bottom: 10px;
}
.x-portlet {
    margin-bottom: 10px;
    padding: 1px;
}
.x-portlet .x-panel-body {
    background: #fff;
}
.portlet-content {
    padding: 10px;
    font-size: 11px;
}
/*
 * Grid Filters
 */

/* RangeMenu Styles */

.ux-rangemenu-icon {
    display: block;
    height: 16px;
    background: no-repeat 5px center;
    margin-top: 5px;
}
.ux-rangemenu-field {
    width: 125px;
}
.ux-rangemenu-gt {
    background-image: url(images/ux/grid/filter/greater_than.png) !important;
}
.ux-rangemenu-lt {
    background-image: url(images/ux/grid/filter/less_than.png) !important;
}
.ux-rangemenu-eq {
    background-image: url(images/ux/grid/filter/equals.png) !important;
}
/* GridFilters Styles */

.ux-filtered-column {
    font-style: italic !important;
    font-weight: bold !important;
    text-decoration: underline !important;
}
.ux-gridfilter-text-icon {
    background-image: url(images/ux/grid/filter/find.png) !important;
}
.icon-change-password {
    background-image: url(images/icons/change-password.png) !important;
}
.icon-save-all {
    background-image: url(images/icons/save-all.png) !important;
}
.icon-csv {
    background-image: url(images/icons/csv.png) !important;
}
.icon-chart-line {
    background-image: url(images/icons/chart-line.png)!important;
}
.icon-chart-bar {
    background-image: url(images/icons/chart-bar.png)!important;
}
.icon-chart-pie {
    background-image: url(images/icons/chart-pie.png)!important;
}
.icon-chart-column {
    background-image: url(images/icons/chart-column.png)!important;
}
.icon-export-csv {
    background-image: url(images/icons/export-csv.png) !important;
}
.icon-import-csv {
    background-image: url(images/icons/import-csv.png) !important;
}
.icon-add-credit {
    background-image: url(images/icons/add-credit.png)!important;
}
.icon-processor {
    background-image: url(images/icons/processor.png) !important;
}
.icon-memory {
    background-image: url(images/icons/memory.png) !important;
}
.icon-networkIn {
    background-image: url(images/icons/networkin.png) !important;
}
.icon-networkOut {
    background-image: url(images/icons/networkout.png) !important;
}
.icon-uptime {
    background-image: url(images/icons/uptime.png) !important;
}
.icon-asterisk {
    background-image: url(images/icons/asterisk.png) !important;
}
/* Icons Modules */

.call {
    background-image: url(images/modules/call.png) !important;
}
.administrators {
    background-image: url(images/modules/administrators.png) !important;
}
.customer {
    background-image: url(images/modules/customer.png) !important;
}
.billing {
    background-image: url(images/modules/billing.png) !important;
}
.rates {
    background-image: url(images/modules/rates.png) !important;
}
.report {
    background-image: url(images/modules/report.png) !important;
}
.did {
    background-image: url(images/modules/did.png) !important;
}
.trunk {
    background-image: url(images/modules/trunk.png) !important;
}
.routes {
    background-image: url(images/modules/routes.png) !important;
}
.callback {
    background-image: url(images/modules/callback.png) !important;
}
.callcenter {
    background-image: url(images/modules/callcenter.png) !important;
}
.asterisk {
    background-image: url(images/modules/asterisk.png) !important;
}
.agents {
    background-image: url(images/modules/agents.png) !important;
}
.config {
    background-image: url(images/modules/config.png) !important;
}
.buycredit {
    background-image: url(images/modules/buycredit.png) !important;
}
.release {
    background-image: url(images/modules/release.png) !important;
}
.block {
    background-image: url(images/modules/block.png) !important;
}
/*SubModules*/

.templatemail {
    background-image: url(images/modules/templatemail.png) !important;
}
.groups {
    background-image: url(images/modules/groups.png) !important;
}
.modules {
    background-image: url(images/modules/modules.png) !important;
}
.firewall {
    background-image: url(images/modules/firewall.png) !important;
}
.finances {
    background-image: url(images/modules/finances.png) !important;
}
.massive {
    background-image: url(images/modules/massive.png) !important;
}
.campaignsend {
    background-image: url(images/modules/campaignsend.png) !important;
}
.webphone {
    background-image: url(images/modules/webphone.png) !important;
}
.extra {
    background-image: url(images/modules/extra.png) !important;
}
.extra1 {
    background-image: url(images/modules/extra1.png) !important;
}
.extra2 {
    background-image: url(images/modules/extra2.png) !important;
}
.extra3 {
    background-image: url(images/modules/extra3.png) !important;
}
.extra4 {
    background-image: url(images/modules/extra4.png) !important;
}
.extra5 {
    background-image: url(images/modules/extra5.png) !important;
}
.extra6 {
    background-image: url(images/modules/extra6.png) !important;
}
.extra7 {
    background-image: url(images/modules/extra7.png) !important;
}
.extra8 {
    background-image: url(images/modules/extra8.png) !important;
}
.extra9 {
    background-image: url(images/modules/extra9.png) !important;
}
/*Sub modules customer*/

.users {
    background-image: url(images/modules/users.png) !important;
}
.sipbuddies {
    background-image: url(images/modules/sipbuddies.png) !important;
}
.callerid {
    background-image: url(images/modules/callerid.png) !important;
}
.sipuras {
    background-image: url(images/modules/sipuras.png) !important;
}
.callonline {
    background-image: url(images/modules/callonline.png) !important;
}
.ivr {
    background-image: url(images/modules/ivr.png) !important;
}
.restrictedphonenumber {
    background-image: url(images/modules/restrictedphonenumber.png) !important;
}
.callshop {
    background-image: url(images/modules/callshop.png) !important;
}
.cabinas {
    background-image: url(images/modules/cabinas.png) !important;
}
/*submodulos callcenter*/

.campaigns {
    background-image: url(images/modules/campaigns.png) !important;
}
.polls {
    background-image: url(images/modules/polls.png) !important;
}
.phonebooks {
    background-image: url(images/modules/phonebooks.png) !important;
}
.numbers {
    background-image: url(images/modules/numbers.png) !important;
}
.sms {
    background-image: url(images/modules/sms.png) !important;
}
.campaignpollinfo {
    background-image: url(images/modules/cdr.png) !important;
}
/*Sub modules billing*/

.refill {
    background-image: url(images/modules/refill.png) !important;
}
.refillprovider {
    background-image: url(images/modules/refillprovider.png) !important;
}
.paymentmethods {
    background-image: url(images/modules/paymentmethods.png) !important;
}
.voucher {
    background-image: url(images/modules/voucher.png) !important;
}
.boleto {
    background-image: url(images/modules/boleto.png) !important;
}
/*Sub modules rates*/

.plan {
    background-image: url(images/modules/plan.png) !important;
}
.tariffs {
    background-image: url(images/modules/tariffs.png) !important;
}
.prefixs {
    background-image: url(images/modules/prefixs.png) !important;
}
.offer {
    background-image: url(images/modules/offer.png) !important;
}
.offercdr {
    background-image: url(images/modules/offercdr.png) !important;
}
.offeruse {
    background-image: url(images/modules/offeruse.png) !important;
}
/*Sub modules call*/

.cdr {
    background-image: url(images/modules/cdr.png) !important;
}
.callsummary {
    background-image: url(images/modules/callsummary.png) !important;
}
.callsummarybymonth {
    background-image: url(images/modules/callsummarybymonth.png) !important;
}
/*Sub modules did*/

.didnumber {
    background-image: url(images/modules/didnumber.png) !important;
}
.diddestination {
    background-image: url(images/modules/diddestination.png) !important;
}
.diduse {
    background-image: url(images/modules/diduse.png) !important;
}
.queues {
    background-image: url(images/modules/queues.png) !important;
}
.queuesmember {
    background-image: url(images/modules/queuesmember.png) !important;
}
/*Sub modules trunks*/

.provider {
    background-image: url(images/modules/provider.png) !important;
}
/**Desktop**/

.templatemailWhiteMenu {
    background-image: url(images/modules/desktop/white/templatemail.png) !important;
}
.groupsWhiteMenu {
    background-image: url(images/modules/desktop/white/groups.png) !important;
}
.modulesWhiteMenu {
    background-image: url(images/modules/desktop/white/modules.png) !important;
}
.submodulesWhiteMenu {
    background-image: url(images/modules/desktop/white/submodules.png) !important;
}
/*Sub modules customer*/

.sipbuddiesWhiteMenu {
    background-image: url(images/modules/desktop/white/sipbuddies.png) !important;
}
.calleridWhiteMenu {
    background-image: url(images/modules/desktop/white/callerid.png) !important;
}
.sipurasWhiteMenu {
    background-image: url(images/modules/desktop/white/sipuras.png) !important;
}
.callonlineWhiteMenu {
    background-image: url(images/modules/desktop/white/callonline.png) !important;
}
.ivrWhiteMenu {
    background-image: url(images/modules/desktop/white/ivr.png) !important;
}
.restrictedphonenumberWhiteMenu {
    background-image: url(images/modules/desktop/white/restrictedphonenumber.png) !important;
}
.callshopWhiteMenu {
    background-image: url(images/modules/desktop/white/callshop.png) !important;
}
.cabinasWhiteMenu {
    background-image: url(images/modules/desktop/white/cabinas.png) !important;
}
/*submodulos callcenter*/

.campaignsWhiteMenu {
    background-image: url(images/modules/desktop/white/campaigns.png) !important;
}
.pollsWhiteMenu {
    background-image: url(images/modules/desktop/white/polls.png) !important;
}
.phonebooksWhiteMenu {
    background-image: url(images/modules/desktop/white/phonebooks.png) !important;
}
.numbersWhiteMenu {
    background-image: url(images/modules/desktop/white/numbers.png) !important;
}
.smsWhiteMenu {
    background-image: url(images/modules/desktop/white/sms.png) !important;
}
.campaignpollinfoWhiteMenu {
    background-image: url(images/modules/desktop/white/cdr.png) !important;
}
/*Sub modules billing*/

.refillWhiteMenu {
    background-image: url(images/modules/desktop/white/refill.png) !important;
}
.refillproviderWhiteMenu {
    background-image: url(images/modules/desktop/white/refillprovider.png) !important;
}
.refillagentWhiteMenu {
    background-image: url(images/modules/desktop/white/refillagent.png) !important;
}
.paymentWhiteMenu {
    background-image: url(images/modules/desktop/white/payment.png) !important;
}
.paymentagentWhiteMenu {
    background-image: url(images/modules/desktop/white/paymentagent.png) !important;
}
.paymentmethodsWhiteMenu {
    background-image: url(images/modules/desktop/white/paymentmethods.png) !important;
}
.voucherWhiteMenu {
    background-image: url(images/modules/desktop/white/voucher.png) !important;
}
.boletoWhiteMenu {
    background-image: url(images/modules/desktop/white/boleto.png) !important;
}
/*Sub modules rates*/

.tariffplanWhiteMenu {
    background-image: url(images/modules/desktop/white/tariffplan.png) !important;
}
.ratecardWhiteMenu {
    background-image: url(images/modules/desktop/white/ratecard.png) !important;
}
.tariffgroupWhiteMenu {
    background-image: url(images/modules/desktop/white/tariffgroup.png) !important;
}
.tariffsWhiteMenu {
    background-image: url(images/modules/desktop/white/tariffs.png) !important;
}
.prefixsWhiteMenu {
    background-image: url(images/modules/desktop/white/prefixs.png) !important;
}
.offerWhiteMenu {
    background-image: url(images/modules/desktop/white/offer.png) !important;
}
.offercdrWhiteMenu {
    background-image: url(images/modules/desktop/white/offercdr.png) !important;
}
.offeruseWhiteMenu {
    background-image: url(images/modules/desktop/white/offeruse.png) !important;
}
/*Sub modules call*/

.cdrWhiteMenu {
    background-image: url(images/modules/desktop/white/cdr.png) !important;
}
.callsummaryWhiteMenu {
    background-image: url(images/modules/desktop/white/callsummary.png) !important;
}
/*Sub modules did*/

.didnumberWhiteMenu {
    background-image: url(images/modules/desktop/white/didnumber.png) !important;
}
.diddestinationWhiteMenu {
    background-image: url(images/modules/desktop/white/diddestination.png) !important;
}
.diduseWhiteMenu {
    background-image: url(images/modules/desktop/white/diduse.png) !important;
}
.alarmWhiteMenu {
    background-image: url(images/modules/desktop/white/alarm.png) !important;
}
.queuesWhiteMenu {
    background-image: url(images/modules/desktop/white/queues.png) !important;
}
.queuesmemberWhiteMenu {
    background-image: url(images/modules/desktop/white/queuesmember.png) !important;
}
/*Sub modules trunks*/

.providerWhiteMenu {
    background-image: url(images/modules/desktop/white/provider.png) !important;
}
.trunkWhiteMenu {
    background-image: url(images/modules/desktop/white/trunk.png) !important;
}
.buycreditWhiteMenu {
    background-image: url(images/modules/desktop/white/buycredit.png) !important;
}
.usersWhiteMenu {
    background-image: url(images/modules/desktop/white/users.png) !important;
}
.callsummarybymonthWhiteMenu {
    background-image: url(images/modules/desktop/white/callsummarybymonth.png) !important;
}
.didWhiteMenu {
    background-image: url(images/modules/desktop/white/did.png) !important;
}
.planWhiteMenu {
    background-image: url(images/modules/desktop/white/plan.png) !important;
}
.callbackWhiteMenu {
    background-image: url(images/modules/desktop/white/callback.png) !important;
}
.firewallWhiteMenu {
    background-image: url(images/modules/desktop/white/firewall.png) !important;
}
.callcenterWhiteMenu {
    background-image: url(images/modules/desktop/white/callcenter.png) !important;
}
.phonebooksWhiteMenu {
    background-image: url(images/modules/desktop/white/phonebooks.png) !important;
}
.campaignsendWhiteMenu {
    background-image: url(images/modules/desktop/white/campaignsend.png) !important;
}
.configWhiteMenu {
    background-image: url(images/modules/desktop/white/config.png) !important;
}
.webphoneWhiteMenu {
    background-image: url(images/modules/desktop/white/webphone.png) !important;
}
.extraWhiteMenu {
    background-image: url(images/modules/desktop/white/extra.png) !important;
}
.extra1WhiteMenu {
    background-image: url(images/modules/desktop/white/extra1.png) !important;
}
.extra2WhiteMenu {
    background-image: url(images/modules/desktop/white/extra2.png) !important;
}
.extra3WhiteMenu {
    background-image: url(images/modules/desktop/white/extra3.png) !important;
}
.extra4WhiteMenu {
    background-image: url(images/modules/desktop/white/extra4.png) !important;
}
.extra5WhiteMenu {
    background-image: url(images/modules/desktop/white/extra5.png) !important;
}
.extra6WhiteMenu {
    background-image: url(images/modules/desktop/white/extra6.png) !important;
}
.extra7WhiteMenu {
    background-image: url(images/modules/desktop/white/extra7.png) !important;
}
.extra8WhiteMenu {
    background-image: url(images/modules/desktop/white/extra8.png) !important;
}
.extra9WhiteMenu {
    background-image: url(images/modules/desktop/white/extra9.png) !important;
}
/**Desktop**/

.templatemailBlackMenu {
    background-image: url(images/modules/desktop/black/templatemail.png) !important;
}
.groupsBlackMenu {
    background-image: url(images/modules/desktop/black/groups.png) !important;
}
.modulesBlackMenu {
    background-image: url(images/modules/desktop/black/modules.png) !important;
}
.submodulesBlackMenu {
    background-image: url(images/modules/desktop/black/submodules.png) !important;
}
/*Sub modules customer*/

.sipbuddiesBlackMenu {
    background-image: url(images/modules/desktop/black/sipbuddies.png) !important;
}
.calleridBlackMenu {
    background-image: url(images/modules/desktop/black/callerid.png) !important;
}
.sipurasBlackMenu {
    background-image: url(images/modules/desktop/black/sipuras.png) !important;
}
.callonlineBlackMenu {
    background-image: url(images/modules/desktop/black/callonline.png) !important;
}
.ivrBlackMenu {
    background-image: url(images/modules/desktop/black/ivr.png) !important;
}
.restrictedphonenumberBlackMenu {
    background-image: url(images/modules/desktop/black/restrictedphonenumber.png) !important;
}
.callshopBlackMenu {
    background-image: url(images/modules/desktop/black/callshop.png) !important;
}
.cabinasBlackMenu {
    background-image: url(images/modules/desktop/black/cabinas.png) !important;
}
/*submodulos callcenter*/

.campaignsBlackMenu {
    background-image: url(images/modules/desktop/black/campaigns.png) !important;
}
.pollsBlackMenu {
    background-image: url(images/modules/desktop/black/polls.png) !important;
}
.phonebooksBlackMenu {
    background-image: url(images/modules/desktop/black/phonebooks.png) !important;
}
.numbersBlackMenu {
    background-image: url(images/modules/desktop/black/numbers.png) !important;
}
.smsBlackMenu {
    background-image: url(images/modules/desktop/black/sms.png) !important;
}
.campaignpollinfoBlackMenu {
    background-image: url(images/modules/desktop/black/cdr.png) !important;
}
/*Sub modules billing*/

.refillBlackMenu {
    background-image: url(images/modules/desktop/black/refill.png) !important;
}
.refillproviderBlackMenu {
    background-image: url(images/modules/desktop/black/refillprovider.png) !important;
}
.refillagentBlackMenu {
    background-image: url(images/modules/desktop/black/refillagent.png) !important;
}
.paymentBlackMenu {
    background-image: url(images/modules/desktop/black/payment.png) !important;
}
.paymentagentBlackMenu {
    background-image: url(images/modules/desktop/black/paymentagent.png) !important;
}
.paymentmethodsBlackMenu {
    background-image: url(images/modules/desktop/black/paymentmethods.png) !important;
}
.voucherBlackMenu {
    background-image: url(images/modules/desktop/black/voucher.png) !important;
}
.boletoBlackMenu {
    background-image: url(images/modules/desktop/black/boleto.png) !important;
}
/*Sub modules rates*/

.tariffplanBlackMenu {
    background-image: url(images/modules/desktop/black/tariffplan.png) !important;
}
.ratecardBlackMenu {
    background-image: url(images/modules/desktop/black/ratecard.png) !important;
}
.tariffgroupBlackMenu {
    background-image: url(images/modules/desktop/black/tariffgroup.png) !important;
}
.tariffsBlackMenu {
    background-image: url(images/modules/desktop/black/tariffs.png) !important;
}
.prefixsBlackMenu {
    background-image: url(images/modules/desktop/black/prefixs.png) !important;
}
.offerBlackMenu {
    background-image: url(images/modules/desktop/black/offer.png) !important;
}
.offercdrBlackMenu {
    background-image: url(images/modules/desktop/black/offercdr.png) !important;
}
.offeruseBlackMenu {
    background-image: url(images/modules/desktop/black/offeruse.png) !important;
}
/*Sub modules call*/

.cdrBlackMenu {
    background-image: url(images/modules/desktop/black/cdr.png) !important;
}
.callsummaryBlackMenu {
    background-image: url(images/modules/desktop/black/callsummary.png) !important;
}
/*Sub modules did*/

.didnumberBlackMenu {
    background-image: url(images/modules/desktop/black/didnumber.png) !important;
}
.diddestinationBlackMenu {
    background-image: url(images/modules/desktop/black/diddestination.png) !important;
}
.diduseBlackMenu {
    background-image: url(images/modules/desktop/black/diduse.png) !important;
}
.alarmBlackMenu {
    background-image: url(images/modules/desktop/black/alarm.png) !important;
}
.queuesBlackMenu {
    background-image: url(images/modules/desktop/black/queues.png) !important;
}
.queuesmemberBlackMenu {
    background-image: url(images/modules/desktop/black/queuesmember.png) !important;
}
/*Sub modules trunks*/

.providerBlackMenu {
    background-image: url(images/modules/desktop/black/provider.png) !important;
}
.trunkBlackMenu {
    background-image: url(images/modules/desktop/black/trunk.png) !important;
}
.buycreditBlackMenu {
    background-image: url(images/modules/desktop/black/buycredit.png) !important;
}
.usersBlackMenu {
    background-image: url(images/modules/desktop/black/users.png) !important;
}
.callsummarybymonthBlackMenu {
    background-image: url(images/modules/desktop/black/callsummarybymonth.png) !important;
}
.didBlackMenu {
    background-image: url(images/modules/desktop/black/did.png) !important;
}
.planBlackMenu {
    background-image: url(images/modules/desktop/black/plan.png) !important;
}
.callbackBlackMenu {
    background-image: url(images/modules/desktop/black/callback.png) !important;
}
.firewallBlackMenu {
    background-image: url(images/modules/desktop/black/firewall.png) !important;
}
.callcenterBlackMenu {
    background-image: url(images/modules/desktop/black/callcenter.png) !important;
}
.phonebooksBlackMenu {
    background-image: url(images/modules/desktop/black/phonebooks.png) !important;
}
.campaignsendBlackMenu {
    background-image: url(images/modules/desktop/black/campaignsend.png) !important;
}
.configBlackMenu {
    background-image: url(images/modules/desktop/black/config.png) !important;
}
.webphoneBlackMenu {
    background-image: url(images/modules/desktop/black/webphone.png) !important;
}
.extraBlackMenu {
    background-image: url(images/modules/desktop/black/extra.png) !important;
}
.extra1BlackMenu {
    background-image: url(images/modules/desktop/black/extra1.png) !important;
}
.extra2BlackMenu {
    background-image: url(images/modules/desktop/black/extra2.png) !important;
}
.extra3BlackMenu {
    background-image: url(images/modules/desktop/black/extra3.png) !important;
}
.extra4BlackMenu {
    background-image: url(images/modules/desktop/black/extra4.png) !important;
}
.extra5BlackMenu {
    background-image: url(images/modules/desktop/black/extra5.png) !important;
}
.extra6BlackMenu {
    background-image: url(images/modules/desktop/black/extra6.png) !important;
}
.extra7BlackMenu {
    background-image: url(images/modules/desktop/black/extra7.png) !important;
}
.extra8BlackMenu {
    background-image: url(images/modules/desktop/black/extra8.png) !important;
}
.extra9BlackMenu {
    background-image: url(images/modules/desktop/black/extra9.png) !important;
}
/* UX Clear button */

.ext-ux-clearbutton {
    width: 12px;
    height: 12px;
    background-image: url(images/ux/form/field/clear-text-icon.gif);
    background-position: 0 0;
    background-repeat: no-repeat;
    -moz-user-focus: ignore;
    /* https://developer.mozilla.org/en/CSS/-moz-user-focus */
    cursor: pointer;
    position: absolute;
    overflow: hidden;
    /* IE 6 :-( */
    margin-top: 3px;
    background-color: white;
}
.ext-ux-clearbutton-mouse-over-input {
    background-position: 0 -12px;
}
.ext-ux-clearbutton-mouse-over-button {
    background-position: 0 -24px;
}
.ext-ux-clearbutton-mouse-down {
    background-position: 0 -36px;
}
.ext-ux-clearbutton-on {
    opacity: 1;
    visibility: visible;
    transition: opacity .35s linear;
    -webkit-transition: opacity .35s linear;
    -moz-transition: opacity .35s linear;
    -o-transition: opacity .35s linear;
    -ms-transition: opacity .35s linear;
    -khtml-transition: opacity .35s linear;
}
.ext-ux-clearbutton-off {
    opacity: 0;
    visibility: hidden;
    transition: opacity .35s linear, visibility .0s linear .35s;
    -webkit-transition: opacity .35s linear, visibility .0s linear .35s;
    -moz-transition: opacity .35s linear, visibility .0s linear .35s;
    -o-transition: opacity .35s linear, visibility .0s linear .35s;
    -ms-transition: opacity .35s linear, visibility .0s linear .35s;
    -khtml-transition: opacity .35s linear, visibility .0s linear .35s;
}