.#{$prefix}accordion-item {

    .#{$prefix}accordion-body {
        border-width: $accordion-body-border-width;
        background-color: $accordion-header-background-color;

        .#{$prefix}grid-item {
            background-color: $base-color-sub-menu;
            color: blue;
            padding: 5px;

            .#{$prefix}tree-elbow {
                background-image: none;
            }

            .#{$prefix}tree-elbow-end {
                background-image: none;
            }
        }

        .#{$prefix}grid-item-selected::before {
            content: " ";
            position: absolute;
            display: block;
            left: 0;
            top: 0;
            width: 5px;
            height: 100%;
        }

        .#{$prefix}grid-item-selected-activated::before {
            background-color: #f4f8fa;
            content: " ";
            position: absolute;
            display: block;
            left: 0;
            top: 0;
            width: 5px;
            height: 100%;
        }


        .#{$prefix}grid-item-focused .#{$prefix}grid-cell-inner:before {
            border: 0px transparent;
        }
    }
}
